<div class="container-fluid page-body-wrapper">
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">

        <li class="nav-item">
            <a class="nav-link" href="/user">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">My Profile</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user/reservations/">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Reservations</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user/companies/">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Companies</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user/comments/">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Comments</span>
            </a>
        </li>
    </ul>
</nav>



